@using MongoDB.Bson
@model  IEnumerable<Plaza.Models.Reservation>

<p>
    @Html.ActionLink("Add Reservation", "Create", new {}, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfGuests)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartureDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>
@if(Model!=null)
{ 
    foreach (var item in Model)
    {
     <tr>
         <td>
             @Html.DisplayFor(modelItem => item.NumberOfGuests)
         </td>
         <td>
             @Html.DisplayFor(modelItem => item.ArrivalDate)
         </td>
         <td>
             @Html.DisplayFor(modelItem => item.DepartureDate)
         </td>
         <td>
             @Html.DisplayFor(modelItem => item.Status)
         </td>
         <td>
             <a href="@Url.Action("Edit", "Reservation", new { id = item.Id})" class="">
                 <i class="glyphicon glyphicon-edit"></i>
                 <span>
                     <strong>Edit</strong>
                 </span>
             </a>
             |
             <a href="@Url.Action("Delete", "Reservation", new ObjectId(item.Id.ToString()))" class="">
                 <i class="glyphicon glyphicon-remove"></i>
                 <span>
                     <strong>Delete</strong>
                 </span>
             </a>
             @*@Html.ActionLink("Edit", "Edit", new { id = item.Reference.Id }) |*@
             @*@Html.ActionLink("Details", "Details", new { id = item.Reference.Id }) |*@
             @*@Html.ActionLink("Delete", "Delete", new { id = item.Reference.Id }) |*@
             @*@Ajax.ActionLink("Songs", "Songs", new { id = item.Reference.Id }, new AjaxOptions
            {
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "asd"
            })*@

         </td>
     </tr>
    }
}

</table>
